@font-face {
  font-family: "jakarta";
  src: url(./Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
  background-color: cornflowerblue;
  color: rgb(232, 232, 232);
  font-family: "jakarta";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(background-space.jpg);
  background-size: auto;
  background-position: center;
  transition-duration: 1s;
}
h1 {
  text-transform: uppercase;
}
#container {
  justify-content: center;
  align-items: center;
}
.paragraphStyle {
  background-color: cornflowerblue;
  border: 3px solid white;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.buttons {
  background-color: rgb(82, 82, 255);
  color: white;
  font-size: 16px;
  border: none;
  display: block;
  cursor: crosshair;
  transition-duration: 0.4s;
  margin: 40px; 
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
}
.buttons:hover {
  background-color: rgb(189, 189, 255);
  color: white;
}
li {
  padding-top: 8px;
  padding-bottom: 8px;
}
#box {
  background-color: blueviolet;
  color: white;
  border: 1px black;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}